// Base Colors

// Light Neutrals
$color-white: #ffffff;            // White
$color-sky-tint: #92B0D8;         // Azul claro acinzentado (ex Salvia)
$color-ice-gray: #eff2f5;         // Cinza muito claro (ex Beige)
$color-steel-blue: #5C80B5;       // Azul médio frio (ex Mist)
$color-slate-gray: #4E6281;       // Azul acinzentado escuro (ex Grayish Lime Green)

// Dark Neutrals
$color-charcoal: #555555;         // Cinza escuro médio (ex Davy's Grey)
$color-graphite: #333333;         // Cinza quase preto (ex Very Dark Gray)

// Red
$color-crimson: #D44848;          // Vermelho forte e quente (ex Cinnabar)

// Green
$color-forest-green: #568A4D;     // Verde médio natural

// Black
$color-black: #000000;            // Preto puro
$color-obsidian: #111111;         // Preto suave (ligeiramente acinzentado)
