@font-face {
  font-family: 'IstokWeb';
  src: url('/fonts/IstokWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IstokWeb';
  src: url('/fonts/IstokWeb-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'IstokWeb';
  src: url('/fonts/IstokWeb-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IstokWeb';
  src: url('/fonts/IstokWeb-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Gunterz';
  src: url('/fonts/Fontspring-DEMO-gunterz-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
