@use 'breakpoints';
@use 'reset';
@use 'fonts';
@use 'colors';

html {
  scroll-behavior: smooth;

  ::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-ice-gray;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $color-charcoal;
  }
}

body {
  padding: 0.25rem;
  background-color: var(--color-gunmetal);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  cursor: none;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }

  @media (max-width: 1761px) {
    font-size: 14px;
  }

  ::selection {
    background-color: $color-slate-gray;
    color: $color-black;
  }

  ::-webkit-selection {
    background-color: $color-slate-gray;
    color: $color-black;
  }
}

section {
  background-color: var(--color-obsidian);
}

body, section {
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

html, body, html * {
  cursor: none !important;
}

a, button, input, textarea, select, svg, canvas, [role="button"], [tabindex] {
  cursor: none !important;
}
